@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #523728;
  ;
  --background-main: #FFF8E1;
}


body {
  color: rgb(var(--text-color));
  background: var(--background-main);
}
